<div class="container" style="margin-top: 3rem;">
  <div class="row">

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/231/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/232/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/233/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/234/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/235/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/236/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm" style="width: 18rem;">
        <img src="https://picsum.photos/id/237/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 " style="width: 18rem;">
        <img src="https://picsum.photos/id/238/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 " style="width: 18rem;">

        <img src="https://picsum.photos/id/240/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 " style="width: 18rem;">

        <img src="https://picsum.photos/id/241/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 " style="width: 18rem;">

        <img src="https://picsum.photos/id/243/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 " style="width: 18rem;">

        <img src="https://picsum.photos/id/244/500/500" class="card-img-top" alt="...">
        <div class="fvrt-btn-wrppr"><i class="fvrt-btn"></i></div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>

        </div>
      </div>
    </div>
  </div>
</div>
